@font-face {
    font-family: 'BitcountPropSingleInk';
    src: url('fonts/BitcountPropSingleInk-VariableFont_CRSV,ELSH,ELXP,SZP1,SZP2,XPN1,XPN2,YPN1,YPN2,slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* ✅ usuwa poziomy pasek i przesunięcie */
}

body {
    font-family: 'BitcountPropSingleInk', monospace;
    color: black;
    background-image: linear-gradient(to right, black, rgb(111, 19, 111));
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    border: 5px dotted pink;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    background-image: url("images/finish.jpg");
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: rgba(38, 38, 38, 0.8);
    background-blend-mode: darken;
    font-style: normal;
    text-align: center;
    padding: 15px;
    margin-bottom: -10px;
    box-sizing: border-box;
}

h1 {
    font-size: 7.5vw;
    text-align: center;  
    font-style: normal; 
    text-decoration: none;
}

h2 {
    color: rgb(111, 19, 111);
    font-size: 5vw;
    text-align: left;
    font-style: normal;
    text-decoration: underline pink;
}

h2:hover{
    color: pink;
    transition: 0.5s;
}

h3 {
    font-size: 2.5em;
    text-align: right;
    font-style: normal;
    text-decoration: underline pink;
}

p {
    font-size: 2em;
    margin: 0 auto;
    text-align: right;
    font-style: normal;
    text-decoration: none;
}

div.lista{
    text-align: right;
}

ul {
    font-size: 2em;
    list-style-type: disc;
    display: inline-block;
    text-align: left;
}

li::marker{
    color: pink;
}

footer {
    background-color: pink;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

a {
    color: pink;
    font-weight: bold;
    text-decoration: underline;
}

.nawigacja{
    border: 5px dotted pink;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    text-shadow: none;
    background-image: url("images/finish.jpg");
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: rgba(38, 38, 38, 0.8);
    background-blend-mode: darken;
    margin-bottom: 10px;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.nawigacja a{
    font-style: italic;
    color: black;
    margin: 0 5px;
    text-align: right;
}

.nawigacja a:hover{
    text-shadow: 2px 2px black;
    color: pink;
    transition: 0.7s;
}   

.gallery{
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.gokarty{
    width: 30%;
    max-width: 100%;
    height: auto;
    border: 5px dotted pink;
    border-radius: 0;
    margin-bottom: 5px;
    margin-top: -5px;
}

img{
    width: 30%;
    max-width: 100%;
    height: auto;
    border: 3px dotted pink;
    border-radius: 0;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
}

img:hover{
    border: 3px dotted pink;
    transform: scale(1.5) rotate(360deg);
    transition: 0.2s;
}

section{
    border: 2px solid black;
    background-size: 1920px 1080px;
    background-image: url("images/gokart_back.jpg");
    background-repeat: repeat;
    background-color: rgba(38, 38, 38, 0.8);
    background-blend-mode: darken;
    background-attachment: fixed;
    float: none;
    clear: both;
    text-align: right;
    padding: 5vw;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

hr{
    border: none;
    clear: both;
}

* {
    box-sizing: border-box;
}

/* ✅ Dodatkowa poprawka dla bardzo małych ekranów */
@media (max-width: 400px) {
    section, header, nav, footer {
        width: 100vw; /* wymusza pełne wypełnienie */
        max-width: 100vw;
        padding: 15px;
        margin: 0;
    }

    body {
        overflow-x: hidden;
    }

    .gallery {
        gap: 2px;
    }

    img, .gokarty {
        margin: 5px 0;
        transform: none !important;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 7vw;
    }

    h3, p, ul {
        font-size: 1.2em;
    }
}
